.field{
	display:inline-block;
	width:50px;
	height:50px;
	position:absolute;
	border:2px solid black;
	cursor: pointer;
}
.field-cross{
	background-image:url('imagecross.jpg');
	cursor: default;
}

.field-nought{
	background-image:url('imagenought.jpg');
	cursor: default;
}